<div class="flex justify-content-center mt-5">
  <img src="assets/of.png" alt="Image" width="250" />
</div>
<div class="flex justify-content-center">
  <h1>Demo projekat - Trosak</h1>
</div>

<div class="flex justify-content-center">
  <div class="card w-5">
    <p>
      Cilj ovog projekta je upoznavanje sa Angular i Django stackom, kao i sa
      tehnologijama poput Docker-a. Projekat je podeljen u osnovne i dodatne
      zadatke, kao i u frontend i backend celine. Vreme izrade ovog projekta
      nije fiksno, ali bi trebalo svesti na maksimalno mesec dana full time
      rada.
    </p>
    <p>
      Zadatak podrazumeva razvoj platforme za praćenje troškova korisnika, sa
      uzbunama koje se okidaju na zabeležene troškove, sa izveštajima na dnevnom
      nivou, koji se mogu generisati i po zahtevu. Platforma podržava login i
      registraciju korisnika, uz servis za slanje mejlova. Troškovi se unose
      ručno putem forme na frontend-u. Svaki trošak mora imati dodeljenu
      kategoriju, koja može pripadati predefinisanim, ili korisnik može kreirati
      nove. Platforma podržava unos očekivanih mesečnih troškova i priliva poput
      plate, računa i slično, uz opciju da se naznači da je račun plaćen.
      Takođe, moguce je definisati mesečni budzet, koji se prikazuje na početnoj
      stranici i u odnosu na koga se racuna prekoračenje (u dinarima ili u
      procentima).
    </p>
    <p>
      U okviru ovog projekta je instaliran
      <a href="https://www.primefaces.org/primeng/">PrimeNG</a> i konfigurisan
      <a href="https://github.com/ngxs/store">NGXS</a> store.
    </p>
    <p>Za dalje detalje pogledati board!</p>
  </div>
</div>

<div class="flex justify-content-center">
  <a href="http://www.openfyle.com" class="text-decorations-none">
    <button pButton pRipple class="p-button-danger p-button-outlined">
      <img alt="logo" src="../../../assets/of logo.png" style="width: 1.5rem" />
      <span class="ml-2 font-bold">Open Fyle</span>
    </button>
  </a>
</div>
